img {
    width: 100%;
}
.sideslider-title {
    color: white;
    position: absolute;
    bottom: 20vh;
    right: 0vw;
    font-size: 40px;
    width: 26vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    padding: 15px;
    background: rgba(0,0,0,0.7);
}